body{
    background-color: #17202a;
}

html{
    font-size: 62.5%;
    font-family: "urbanist";
}

p, a, li, input{    
    font-size: 1.7rem;
    letter-spacing: 0.12rem;
    line-height: 1.5;
    color: #fff;
    list-style: none;
}

h1{
    color: #fff;
    text-align: center;
    font-size: 3.4rem;
    text-decoration: underline;
    font-family: 'syne';
    letter-spacing: 0.1rem;
}

button{
    padding: 0rem 1.2rem;
    border-radius: 0.3rem;
    height: 4rem;
}


header{
    display: flex;
    flex-direction: row;
    align-content: space-between;

}
footer{
    height: 10rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}